body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
}

.product {
    width: 374px;
    height: 508px;

    box-shadow: 0px 15px 30px 7px rgba(0, 0, 0, 0.05);
}

.product-picture {
    height: 310px;

    overflow: hidden;
    /* margin: 20px; */
    display: flex;
    justify-content: center;
}

.product-picture img {
    /* height: 100%; */
    width: 100%;
}

.product-description {
   width: 100%;
   height: 198px;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.title {
    display: flex;
    justify-content: center;

    margin-top: 30px;
    margin-bottom: 20px;
}

.title h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;

    width: 322px;

    margin: 0;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin: 0 25px 25px 25px;
    /* margin: 25px; */
}

.prices .top {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;

    text-decoration-line: line-through;
    color: #8C8C8C;
}

.prices .bottom{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
}

.buttons {
    display: flex;
    height: 38px;
}

.buttons .heart {
    margin-right: 10px;
    width: 35px;
}